<h1>{{bridge.name}}</h1>
<div ng-repeat="light in bridge.lights">
  {{light.name}}
  <div ui-if="light.on">
    <button class= "btn btn-success" ng-click="lightOff($index)">On</button>
  </div>
  <div ui-if="!light.on">
    <button class= "btn btn-danger" ng-click="lightOn($index)">Off</button>
  </div>
</div>